<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gallery</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/index.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        function open_vreality_qr(){
            $(".all_body").fadeIn(600);
            $("#vreality").fadeIn(600);
            alert("Para Cerrar la ventana presionar la tecla Esc");
        }
        function open_mreality_qr(){
            $(".all_body").fadeIn(600);
            $("#mreality").fadeIn(600);
            alert("Para Cerrar la ventana presionar la tecla Esc");
        }
    </script>
    <script src="../public/js/jquery.js"></script>
</head>
<body>
    <div class="all_body" style="display:none">
        <center>
            <div id="vreality" style="display:none" onclick="">
                <h3 style="color:white;">Para escanear los modelos solo debe abrir en su Smartphone su Scaner de codigo QR favorito o puede descargarla desde el siguiente link
                <a href="https://play.google.com/store/apps/details?id=la.droid.qr&hl=es_419" target="_blank">QR Droid Code Scanner</a></h3><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                                <a class="thumbnail" href="#">
                                    <img class="img-responsive" src="../public/images/DNA.png" alt="image of designs">
                                    <h5>DNA</h5>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                                <a class="thumbnail" href="#">
                                    <img class="img-responsive" src="../public/images/molecula.png" alt="image of designs">
                                    <h5>Moleculas</h5>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                                <a class="thumbnail" href="#">
                                    <img class="img-responsive" src="../public/images/cuerpo.png" alt="image of designs">
                                    <h5>Cuerpo</h5>
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
            <div id="mreality" style="display:none">
                <h3 style="color:white;">Para escanear los modelos solo debe abrir en su Smartphone su aplicacion de Realidad Aumentada o puede descargarla desde el siguiente link
                <a href="https://play.google.com/store/apps/details?id=com.ar.augment&hl=es_419" target="_blank">Augment</a></h3><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                                <a class="thumbnail" href="#">
                                    <img class="img-responsive" src="../public/images/oxalato.png" alt="image of designs">
                                    <h5>Oxalato</h5>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                                <a class="thumbnail" href="#">
                                    <img class="img-responsive" src="../public/images/atomo.png" alt="image of designs">
                                    <h5>Atomo</h5>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                                <a class="thumbnail" href="#">
                                    <img class="img-responsive" src="../public/images/QR_DNA.png" alt="image of designs">
                                    <h5>DNA</h5>
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </center>
    </div>
    <!-- Navigation -->
    <nav class="navbar navbar-default topnav">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="../index.html">Grupo Enl@ce</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="trinity.html">Proyecto TRINITY</a>
                    </li>
                    <li>
                        <a href="enlace.html">Grupo Enl@ce</a>
                    </li>
                    <li>
                        <a href="team.html">Nuestro Equipo</a>
                    </li>
                    <li>
                        <a href="#">Realidad Aumentada</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <center>
        <!-- Page Content -->
        <div class="container">
            <div class="row" style="position: relative;padding-top: 10%;">
                <div class="col-lg-6 col-sm-6">
                    <img class="img-responsive" src="../public/images/desings.png" alt="image of QR designs">
                    <h3 style="color:blue"><a href="#" class="hidden-xs" onclick="open_vreality_qr();">Realidad Virtual QR</a>
                                            <a href="qr_image.html" class="visible-xs">Realidad virtual QR</a></h3><hr>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <img class="img-responsive" src="../public/images/desings.png" alt="image of QR designs">
                    <h3 style="color:blue"><a href="#" class="hidden-xs" onclick="open_mreality_qr();">Realidad 3D modelos</a>
                                           <a href="qr_image.html" class="visible-xs">Realidad 3D modelos</a></h3><hr>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </center>
    <script type="text/javascript">
        $(document).keyup(function(event){
            if(event.which==27 || event.which==8)
            {
                $(".all_body").hide();
                $("#vreality").hide();
                $("#mreality").hide();
            }
        });
    </script>
    <script src="../public/js/bootstrap.min.js"></script>
</body>
</html>
