<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<title>QR</title>

	 <!-- Bootstrap Core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/index.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="../public/js/jquery.js"></script>
</head>
<body>
	<h1 style="color:blue" class="text-center">Realidad virtual QR</h1>
	<h3 class="text-center">Para escanear los modelos solo debe abrir en su Smartphone su Scaner de codigo QR favorito o puede descargarla desde el siguiente link
    <a href="https://play.google.com/store/apps/details?id=la.droid.qr&hl=es_419" target="_blank">QR Droid Code Scanner</a></h3><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail">
                    <img class="img-responsive" src="../public/images/DNA.png" alt="image of QR">
                    <h5>DNA</h5>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail">
                    <img class="img-responsive" src="../public/images/molecula.png" alt="image of QR">
                    <h5>Moleculas</h5>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail">
                    <img class="img-responsive" src="../public/images/cuerpo.png" alt="image of QR">
                    <h5>Cuerpo</h5>
                </a>
            </div>
       </div>
    </div><br><br>
    <h1 style="color:blue" class="text-center">Realidad 3D modelos</h1>
    <h3 class="text-center">Para escanear los modelos solo debe abrir en su Smartphone su aplicacion de Realidad Aumentada o puede descargarla desde el siguiente link
	<a href="https://play.google.com/store/apps/details?id=com.ar.augment&hl=es_419" target="_blank">Augment</a></h3><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail">
                    <img class="img-responsive" src="../public/images/oxalato.png" alt="image of QR">
                    <h5>Oxalato</h5>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail">
                    <img class="img-responsive" src="../public/images/atomo.png" alt="image of QR">
                    <h5>Atomo</h5>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail">
                    <img class="img-responsive" src="../public/images/QR_DNA.png" alt="image of QR">
                    <h5>DNA</h5>
                </a>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-sm" onclick="history.back()">Volver</button>
</body>
</html>