<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Team</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">Grupo Enl@ce</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="trinity.html">Proyecto TRINITY</a>
                    </li>
                    <li>
                        <a href="enlace.html">Grupo Enl@ce</a>
                    </li>
                    <li>
                        <a href="#">Nuestro Equipo</a>
                    </li>
                    <li>
                        <a href="designs.html">Realidad Aumentada</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center" style="color:#1caad9">Nuestros miembros grupo Enl@ce</h1>
            </div>
        </div>
    </div>
    <center><div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="images/teacher.jpg" width="200px" height="200px" alt="..." class="img-circle">
                <h4>DELMA ROCHA ALVAREZ</h4>
                <p>Arquitecto</p>
                <p>Doctoranda en Ciencias de la Educación con énfasis en creatividad e innovación</p>
                <p>Magister en educación con énfasis en Metacognición</p>
                <p>Especialista en género de la Planificación y Desarrollo Territorial</p>
                <p>Formador de formadoras Ministerio de la Educación</p>
                <p>Especialista en estudios de la pedagogía</p>
                <p>Profesionalización Pedagógica</p>
                <p>Diplomado en sistemas informático</p>
                <p>Diplomado en Cultura Caribe</p>
                <p>Especialista en Informática Aplicada a los Negocio</p>
                <p>Especialista en sistemas informáticos de E.C.C</p>
                <p><a href="delmarocha@mail.uniatlantico.edu.co">delmarocha@mail.uniatlantico.edu.co</a></p>
            </div>
            <div class="col-lg-6">
                <img src="images/alvaro.jpg" width="200px" height="200px" alt="..." class="img-circle">
                <h4>Alvaro Díaz Quiroz</h4>
                <p><a href="http://revistas.elheraldo.co/gente-caribe/perfil/una-aplicacion-movil-con-conciencia-ambiental-132724">
                    http://revistas.elheraldo.co/gente-caribe/perfil/una-aplicacion-movil-con-conciencia-ambiental-132724
                </a></p>
                <p>Ingeniero de Sistemas</p>
                <p>Ganador premio ESE</p>
            </div>
        </div>
    </div></center><br>
    <center><div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="images/sara.jpg" width="200px" height="200px" alt="..." class="img-circle">
                <h4>Sarakarina Solano Galindo</h4>
                <p>Ingeniera Química</p>
                <p>Especialista en Gestión Publica</p>
                <p>Master of Art in Educaction specialization in Online Education</p>
                <p>Doctorante en Ciencias, mención Gerencia</p>
                <p>Integrante Proyecto de Virtualizacion - Vicerectoría de Docencia</p>
            </div>
            <div class="col-lg-6">
                <img src="images/edwin.jpg" width="200px" height="200px" alt="..." class="img-circle">
                <h4>Edwin Marquez Melendez</h4>
                <p>Tecnologo analisis y programacion de sistemas de Informacion</p>
                <p>Diplomado en Marketing</p>
                <p>Diplomado en diseño web</p>
                <p>Diplomado en desarrollo sistemas Android y IOS</p>
            </div>
        </div>
    </div></center>
</body>
</html>