<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Proyect Trinity</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="all_body" style="display:none"></div>
    <!-- Navigation -->
    <nav class="navbar navbar-default topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="index.html">Proyect Trinity</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Proyecto TRINITY</a>
                    </li>
                    <li>
                        <a href="enlace.html">Grupo Enl@ce</a>
                    </li>
                    <li>
                        <a href="team.html">Nuestro Equipo</a>
                    </li>
                    <li>
                        <a href="designs.html">Realidad Aumentada</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header text-center" style="color:#1caad9">Proyecto TRINITY<small>-Realidad Aumentada</small></h1>
            </div>

            <p>El presente proyecto <strong>TRINITY</strong> (nombre con origen en el idioma latín, que significa "tríada", y representa la unión entre dos mundos uno virtual y otro real en la película Matrix), plantea la posibilidad de incorporar el concepto y la técnica de la Realidad  Aumentada (RA)  como  una estrategia pedagógica innovadora, creativa y visualmente estimulante, que genere un proceso analítico a partir de los procesos de pensamiento abstracto y concreto en los estudiantes considerándose como un material didáctico con un fuerte  valor agregado para el aula. Asimismo, esta alienado al plan estratégico institucional (2010-2019), puesto que le ofrece a la Universidad del Atlántico la oportunidad para que los estudiantes experimenten con la tecnología y se apropien de la información de una forma dinámica.</p>
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <p>El proyecto busca fortalecer los procesos de Enseñanza y aprendizaje en la Universidad del Atlántico, a través de la creación de marcadores QR/AR,  libros de marcadores QR/AR y un dispositivo que permita la interface con la realidad virtual como resultado  final esperado. El proyecto solicita que los estudiantes trabajen los conceptos de diseño, modelamiento de imágenes en formato 3D en dos lenguajes a elegir: el afiche y el video,  que serán proyectados posteriormente en pirámide holográfica previamente construida, al igual que  la creación de QR/ AR Books; mediante el uso de un software especializado (Aumentaty Author - 2012) y una metodología de Análisis de la Gestión del Ciclo de Vida (LCAM, Life Cycle Análisis Management).</p>   
                    </div>
                    <img src="images/QR_DNA.png">
                </div>
            </div>
            
            <p>Cada una de las propuestas tanto en software como en hardware serán enfocadas hacia la educación y establecimiento de unas herramientas pedagógicas, desenvolviéndose  en el campo artístico,  en la etapa preescolar, en los procesos de inclusión social para la población con limitaciones físicas y todos los demás programas académicos interesados en participar, dado que el proyecto abarcaría de manera transversal todas las áreas del conocimiento. Es Importante resaltar que fueron consultadas diferentes investigaciones que coinciden en reportar experiencias positivas acerca de la implementación de la Realidad Aumentada para la Educación.</p>
        </div>
    </div>
    <!-- /.container -->
</body>

</html>
