.btn_container{
  width:90px;
  height:240px;
  position:fixed;
  right:0px;
  bottom:0px;
  z-index: 2
}
.btn_principal{
  width:60px;
  height:60px;
  border-radius:100%;
  background:#F44336;
  right:0;
  bottom:0;
  position:fixed;
  margin-right:16px;
  margin-bottom:16px;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;  
}
span{
  transition:.5s;
}
.btn_principal:hover{
  transform:rotate(360deg);
}
.btn_principal:active{
  transform:scale(1.1);
}
.btn_float{
  width:45px;
  height:45px;
  border-radius:100%;
  border:none;
  color:#FFF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size:17px;
  outline:none;
  position:absolute;
  right:0;
  bottom:0;
  margin-right:23px;
  transform:scale(0);
}
.english_button{
  background:#2196F3;
  margin-bottom:85px;
  transition:0.5s;
}
.animacionVer{
  transform:scale(1);
}
