<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trinity proyect</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/css/index.css" rel="stylesheet">
    <link href="../../public/css/float_button.css" rel="stylesheet" type="text/css">
    <link href="../../public/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    
    <nav class="navbar navbar-default topnav">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="index.html">Arprende</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="trinity.html">TRINITY</a>
                    </li>
                    <li>
                        <a href="enlace.html">Enl@ce</a>
                    </li>
                    <li>
                        <a href="team.html">Team</a>
                    </li>
                    <li>
                        <a href="about.html">about</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header" style="color:#1caad9">Learn different...</h1>
            </div>
            <blockquote>
			  <p>Learning is any change that a system makes to adapt to its environment.</p>
			  <small>Famous phrase of <cite title="Nombre Apellidos">Herbert Simon</cite></small>
			</blockquote>
            
            <center><div class="container">
        <div class="row">
        <div class="col-lg-12">
                <h1 class="page-header" style="color:#1caad9">Created by</h1>
            </div>
            <div class="col-lg-6">
                <img src="../../public/images/jesu.jpg" width="200" height="200" alt="image of jesu" class="img-circle">
                <h4 style="color:red">Jesus Ramírez O.</h4>
                <table class="table table-hover">
                    <tr><td>CEO - ARprende founder</td></tr>
                    <Tr> <td>General Manager</td></tr>
                    <Tr> <td>Independent Business</td></tr>
                    <Tr> <td>Architecture Student</td></tr>
                </table>
            </div>
            <div class="col-lg-6">
                <img src="../../public/images/bdiaz.jpg" width="200" height="200" alt="image of brayan" class="img-circle">
                <h4 style="color:red">Brayan Diaz C.</h4>
                <table class="table table-hover">
                    <tr><td>CTO - ARprende Co-founder</td></tr>
                    <Tr> <td>Project Developer</td></tr>
                    <Tr> <td>Self-Employed</td></tr>
                    <Tr> <td>Designer</td></tr>
                </table>
            </div>
        </div>
    </div></center><br>

<center><div class="container">
        <div class="row">
        <div class="col-lg-12">
                <h1 class="page-header" style="color:#1caad9">Mission and Objectives</h1>
            </div>
            <div class="col-lg-6">
                <h4 style="color:red">Mission</h4>
                <table class="table table-hover">
                    <tr><td>Inclusion of technological devices in the learning processes</td></tr>
                    <tr><td>Generate interactivity and immersion in learning</td></tr>
                </table>
            </div>
            <div class="col-lg-6">
                <h4 style="color:red">Objectives</h4>
                <table class="table table-hover">
                    <tr><td>Create strategic alliance with a publisher</td></tr>
                    <tr><td>Reach more than one thousand users in the first year</td></tr>
                    <tr><td>Participate in educational events</td></tr>
                </table>
            </div>
        </div>
    </div></center><br>

    <blockquote>
			  <p>&#34;The industry of the virtual, augmented and mixed realities is expected to move around 160 billion euros in 2020&#34;</p>
			  <small>Source <cite title="Fuente"><a href="http://www.lavanguardia.com/tecnologia/20170206/414053748119/internet-en-las-cosas-realidad-mixta-realidad-virtual-comercio-iphone-8.html">http://www.lavanguardia.com/tecnologia/20170206/414053748119/internet-en-las-cosas-realidad-mixta-realidad-virtual-comercio-iphone-8.html</a></cite></small>
			</blockquote>

		<div class="col-lg-12">
                <h1 class="page-header text-center" style="color:#1caad9">Pilot Product</h1>
            </div>
        <p class="text-center">Test performed at universidad del Atlántico by more than 8000 students.</p>
        <center>
            <div class="container">
                <div class="row" >
                    <div class="col-lg-4 col-sm-4">
                        <img class="img-responsive" src="../../public/images/prueba_UA_1.png" alt="image of QR designs">                        <hr>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <img  class="img-responsive" src="../../public/images/prueba_UA_2.png" alt="image of QR designs">
                        <hr>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <img  class="img-responsive" src="../../public/images/prueba_UA_3.png" alt="image of QR designs">
                        <hr>
                    </div>
                </div>
            </div>
        </center>
        <script type="text/javascript">
            function change_language_es(){
                document.location.href = "../ES/arprende.html";
            }
        </script>
        <div class="btn_container">
            <button class="btn_principal">
                <i class="fa fa-language" aria-hidden="true">
            </button>
            <button class="btn_float english_button" onclick="change_language_es();">
                <span>ES</span>
            </button>
        </div>
        <script src="../../public/js/jquery.js"></script>
        <script src="../../public/js/bootstrap.min.js"></script>
        <script src="../../public/js/float_button.js"></script>
</body>
</html>