<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="../../public/images/trinity_logo.ico" type="image/x-icon">
        <link rel="icon" href="../../public/images/trinity_logo.ico" type="image/x-icon">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Semillero Trinity all info">
        <meta name="author" content="Edwin Marquez">
        <title>Trinity proyect</title>  
        
        <link href="../../public/css/bootstrap.min.css" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="../../public/css/navbar.css">
        <link href="../../public/css/index.css" rel="stylesheet">
        
        <link href="../../public/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="../../public/css/font.css" rel="stylesheet" type="text/css">
        <link href="../../public/css/float_button.css" rel="stylesheet" type="text/css">
        
        <script src="../../public/js/html5shiv.js"></script>
        <script src="../../public/js/respond.min.js"></script>
    </head>

    <body>
        <div id="all-body" onclick="ocultar_div()">
            <div class="video_360 embed-responsive embed-responsive-16by9">
                <button type="button" class="btn btn-link" style="float: right;" onclick="ocultar_div()"><font size="2">Cerrar/Close</font></button>
                <p style="color: white; font-size: 30px; text-align: center;">Universidad del Atlantico en 360 grados</p>
                <iframe class="video_360" src="https://www.youtube.com/embed/xD2T3B01bRo?rel=0&amp;controls=0&amp;showinfo=0&autoplay=1&fs=0&vq=large" frameborder="0"></iframe>
            </div>
        </div>
        <nav class="navbar navbar-default navbar-fixed-top topnav">
            <div class="container topnav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand topnav" href="index.html"><img title="logo image" class="logo_title" src="../../public/images/trinity_logo.png">Trinity Proyect</a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#project">TRINITY</a>
                        </li>
                        <li>
                            <a href="#project">Enlace Group</a>
                        </li>
                        <li>
                            <a href="#project">Our Team</a>
                        </li>
                        <li>
                              <a href="about.html">About</a>
                        </li>
                    </ul>
                </div>          
            </div>            
        </nav>

        <div class="intro-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 .col-md-6 .col-sm-6">
                        <div class="intro-message">
                            <img src="../../public/images/trinity.png" alt="..." class="img-thumbnail">
                            <hr class="intro-divider">
                            <h4>Implemention of concept and the techniqhe at the Augmented Reality (AR)</h4>
                        </div>
                        <h3 class="center">Ours Projects</h3>
                        <a href="views/ES/arprende.html"><img src="../../public/images/arprende.png" alt="..." class="img-thumbnail lg_proyect"></a>
                        <a href="views/ES/interaktuar.html"><img src="../../public/images/interaktuar.png" alt="..." class="img-thumbnail lg_proyect"></a>
                        <a href=""><img src="../../public/images/Reto_Capturer.png" alt="..." class="img-thumbnail lg_proyect"></a>
                        <a onclick="mostrar_div('xD2T3B01bRo')"><img src="../../public/images/ua.jpg" alt="Universidad del Atlantico 360" class="img-thumbnail lg_proyect"></a>
                        <a onclick="mostrar_div('esURcZJlKyY')"><img src="../../public/images/vivelab.png" alt="Vivelab 360" class="img-thumbnail lg_proyect"></a>
                    </div><br>
                    <div class="hidden-xs">
                         <iframe src="https://sketchfab.com/models/54948d76cd214065a8f033d54da15e5f/embed?ui_watermark=0&amp;ui_stop=0&amp;autospin=0.4&amp;scrollwheel=0&amp;ui_snapshots=0&amp;internal=1&amp;autostart=1&amp;ui_infos=0&amp;transparent=1" data-src="https://sketchfab.com/models/ab41c26ff7ed4821a8f6a2fdfa096f61/embed?ui_controls=0&amp;ui_watermark=0&amp;ui_stop=0&amp;autospin=0.2&amp;scrollwheel=0&amp;ui_snapshots=0&amp;internal=1&amp;autostart=1&amp;ui_infos=0&amp;transparent=1" width="540" height="580" allowtransparency="true" frameBorder="0">
                        </iframe>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        <a id="project"></a>
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                  <div class="col-lg-4 col-sm-4" style="text-align:center">
                    <img class="img-responsive" width="315" height="310" src="../../public/images/trinity_logo.png" alt="Grupo enlace">
                        <button type="submit" id="trinity" onclick="change_page(this.id)" class="btn btn-info">Semillero Trinity</button>
                    </div>
                    <div class="col-lg-4 col-sm-4" style="text-align:center">
                        <img class="img-responsive" width="312" height="310" src="../../public/images/enlace.png" alt="Grupo enlace">
                        <button type="submit" id="enlace" onclick="change_page(this.id)" class="btn btn-info">Grupo Enlace</button>
                    </div>
                    <div class="col-lg-4 col-sm-4" style="text-align:center">
                        <img class="img-responsive" width="312" height="310" src="../../public/images/Equipo.png" alt="Grupo enlace">
                        <button type="submit" id="team" onclick="change_page(this.id)" class="btn btn-info">Our Team</button>
                    </div>  
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function change_page(page_name)
            {
                document.location.href = page_name + ".html";
            }
            function change_language_es(){
                document.location.href = "../../index.html";
            }
        </script>
        <div class="btn_container">
            <button class="btn_principal">
                <i class="fa fa-language" aria-hidden="true">
            </button>
            <button class="btn_float english_button" onclick="change_language_es();">
                <span>ES</span>
            </button>
        </div>
        <script src="../../public/js/jquery.js"></script>
        <script src="../../public/js/bootstrap.min.js"></script>
        <script src="../../public/js/float_button.js"></script>
    </body>
</html>