<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Team</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/css/index.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../public/css/navbar.css">
    <link href="../../public/css/float_button.css" rel="stylesheet" type="text/css">
     <link href="../../public/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default topnav">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="index.html"><img title="logo image" class="logo_title" src="../../public/images/enlace.png">Enl@ce</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   <li>
                        <a href="trinity.html">TRINITY</a>
                    </li>
                    <li>
                        <a href="enlace.html">Enl@ce</a>
                    </li>
                    <li>
                        <a href="#">Team</a>
                    </li>
                    <li>
                        <a href="about.html">about</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center" style="color:#1caad9">Our Team</h1>
            </div>
        </div>
    </div>
    <center><div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="../../public/images/teacher.jpg" width="200" height="200" alt="image of delma" class="img-circle">
                <h4>DELMA ROCHA ALVAREZ</h4>
                <table class="table table-hover">
                    <tr><td>Arquitecto</td></tr>
                    <tr><td>Doctoranda en Ciencias de la Educación con énfasis en creatividad e innovación</td></tr>
                    <tr><td>Magister en educación con énfasis en Metacognición</td></tr>
                    <tr><td>Especialista en género de la Planificación y Desarrollo Territorial</td></tr>
                    <tr><td>Formador de formadoras Ministerio de la Educación</td></tr>
                    <tr><td>Especialista en estudios de la pedagogía</td></tr>
                    <tr><td>Profesionalización Pedagógica</td></tr>
                    <tr><td>Diplomado en sistemas informático</td></tr>
                    <tr><td>Diplomado en Cultura Caribe</td></tr>
                    <tr><td>Especialista en Informática Aplicada a los Negocio</td></tr>
                    <tr><td>Especialista en sistemas informáticos de E.C.C</td></tr>
                    <tr><td><a href="mailto:delmarocha@mail.uniatlantico.edu.co">delmarocha@mail.uniatlantico.edu.co</a></td></tr>
                </table>
            </div>
             <div class="col-lg-6">
                <img src="../../public/images/sara.jpg" width="200" height="200" alt="image of sarakarina" class="img-circle">
                <h4>Sarakarina Solano Galindo</h4>
                <table class="table table-hover">
                    <tr><td>CEO - InteraktuAR founder</td></tr>
                    <Tr> <td>Chemical Engineering</td></tr>
                    <Tr> <td>Public Management Specialist</td></tr>
                    <Tr> <td>Master of Art in Education specialization in Online Education</td></tr>
                    <Tr> <td>Doctorate in Sciences, mention Management</td></tr>
                    <Tr> <td>Virtualization Project Member</td></tr>
                </table>
            </div>
        </div>
    </div></center><br>
    <center><div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="../../public/images/edwin.jpg" width="200" height="200" alt="image of edwin" class="img-circle">
                <h4>Edwin Marquez Melendez</h4>
                <table class="table table-hover">
                    <tr><td>CTO – InteraktuAR Co-fundador</td></tr>
                    <tr><td>Technologist in analysis and development of information systems</td></tr>
                    <tr><td>Web Developer</td></tr>
                    <tr><td>Diploma Marketing</td></tr>
                     <tr><td>Management social media</td></tr>
                    <tr><td>Software programmer</td></tr>
                    <tr><td>Android and IOS Developer</td></tr>
                </table>
            </div>
            <div class="col-lg-6">
                <img src="../../public/images/jesu.jpg" width="200" height="200" alt="image of edwin" class="img-circle">
                <h4>Jesus Ramirez</h4>
                <table class="table table-hover">
                   <tr><td>CEO - ARprende founder</td></tr>
                    <Tr> <td>General Manager</td></tr>
                    <Tr> <td>Independent Business</td></tr>
                    <Tr> <td>Architecture Student</td></tr>
                </table>
            </div>
        </div>
    </div></center>
    <center><div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="../../public/images/bdiaz.jpg" width="200" height="200" alt="image of edwin" class="img-circle">
                <h4>Brayan Diaz</h4>
                <table class="table table-hover">
                    <tr><td>CTO - ARprende Co-founder</td></tr>
                    <Tr> <td>Project Developer</td></tr>
                    <Tr> <td>Self-Employed</td></tr>
                    <Tr> <td>Designer</td></tr>
                    <Tr> <td>Programmer</td></tr>
                    <Tr> <td>Architecture Student</td></tr>
                </table>
            </div>
            <div class="col-lg-6">
                <img src="../../public/images/fabian.png" width="200" height="200" alt="image of edwin" class="img-circle">
                <h4>Fabian Gonzales Macias</h4>
                <table class="table table-hover">
                    <tr><td>Physics Student</td></tr>
                    <tr><td>Aplications Tester</td></tr>
                </table>
            </div>
        </div>
    </div></center>
    <div class="btn_container">
            <button class="btn_principal">
                <i class="fa fa-language" aria-hidden="true">
            </button>
            <button class="btn_float english_button" onclick="change_language_es();">
                <span>ES</span>
            </button>
        </div>
        <script type="text/javascript">
            function change_language_es(){
                document.location.href = "../ES/team.html";
            }
        </script>
    <script src="../../public/js/jquery.js"></script>
    <script src="../../public/js/bootstrap.min.js"></script>
    <script src="../../public/js/float_button.js"></script>
</body>
</html>