<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trinity proyect</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../public/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../public/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/trinity.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="background" id="trinity_logo"></div>
    <!-- Navigation -->
    <nav class="navbar navbar-default topnav">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="../index.html"><img title="logo image" class="logo_title" src="../../public/images/trinity_logo.png">Trinity proyect</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Semillero TRINITY</a>
                    </li>
                    <li>
                        <a href="enlace.html">Grupo Enl@ce</a>
                    </li>
                    <li>
                        <a href="team.html">Nuestro Equipo</a>
                    </li>
                    <li>
                        <a href="designs.html">Realidad Aumentada</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header text-center" style="color:#1caad9">Proyecto TRINITY<small>-Realidad Aumentada</small></h1>
            </div>

            <p>The present proyect <strong>TRINITY</strong> (name with origen in the language LATIN, its mean is &#34;Brought&#34; this represents the link-up between two worlds a virtual one and a real one like the movie &#34;MATRIX&#34;), proposes the possibility of incorporate the concept and the techics of augmented reality (AR) like a new Pedagogical strategy, creative and visually stimulant, that generates an analytic process from Abstract thinking processes and definite in the students considering like a didactic material with a strong value adds to classroom. Likewise this is aligned with the institutional strategic plan (2010-2019), place that offering the UNIVERSIDAD DEL ATLANTICO the opportunity to students experiment with the tecnology and appropriate the information in a dinamic way.</p>
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <p>The project searches to streng then the process the teaching and learning in the UNIVERSIDAD DEL ATLANTICO, through creation of markers QR/AR, makers book QR/AR and device that allows the interface with Virtual Reality as final result. The project gives that the students work concepts of design, modeling of images on 3D formt in two languages to choose: the poster and video, that will show later in pyramid holografic previously built alike that the creation of QR/AR Books; Through the use of a software specialized (Aumentaty Author - 2012) and Life Cycle Management Analysis Methodology (LCAM).</p>   
                    </div>
                    <img src="../../public/images/qr_page.png" alt="...">
                </div>
            </div>
            
            <p>each of proposals how in software like in hardware be will focused to education and establishment of Pedagogical tools, Developing in the artistic field, in the school stage, in the processes of inclusion to people with Physical limitations and everything Academic programs Interested in participating, Given that the project would spand    transversally every areas of knowledge. Is important stand out that gone to consult different research that coincide in report a positive experience about implementation of Augmented Reality for education.</p>
        </div>
    </div>
    <!-- /.container -->
    <script src="../../public/js/jquery.js"></script>
    <script src="../../public/js/bootstrap.min.js"></script>
</body>
</html>
