<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trinity proyect</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    
    <nav class="navbar navbar-default topnav">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="../index.html">Interaktuar proyect</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Proyecto TRINITY</a>
                    </li>
                    <li>
                        <a href="enlace.html">Grupo Enl@ce</a>
                    </li>
                    <li>
                        <a href="team.html">Nuestro Equipo</a>
                    </li>
                    <li>
                        <a href="designs.html">Realidad Aumentada</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <blockquote>
              <p>“Sueños son extremadamente importantes. Tu no puedes hacerlos a menos que tu los imagines.”</p>
              <small>Frase célebre de <cite title="Nombre Apellidos">George Lucas</cite></small>
            </blockquote>
            
            <center><div class="container">
        <div class="row">
        <div class="col-lg-12">
                <h1 class="page-header" style="color:#1caad9">Creadores del Proyecto</h1>
            </div>
            <div class="col-lg-6">
                <img src="images/sara.jpg" width="200" height="200" alt="image of sara" class="img-circle">
                <h4 style="color: #33ea02;">Sarakarina Solano Galindo</h4>
                <table class="table table-hover">
                    <tr><td>CEO</td></tr>
                    <tr><td>Ingeniera Química</td></tr>
                    <tr><td>Master of Arts in Online Education</td></tr>
                    <tr><td>Doctoranda en Ciencias y Tecnología</td></tr>
                </table>
            </div>
            <div class="col-lg-6">
                <img src="images/edwin.jpg" width="200" height="200" alt="image of edwin" class="img-circle">
                <h4 style="color: #33ea02;">Edwin Márquez Meléndez</h4>
                <table class="table table-hover">
                    <tr><td>CTO</td></tr>
                    <tr><td>Desarrollador Web</td></tr>
                    <tr><td>Tecnologo Programador de Sofware</td></tr>
                    <tr><td>Management social media</td></tr>
                    <tr><td>Estudiante de Biología</td></tr>
                </table>
            </div>
        </div>
    </div></center><br>

<center><div class="container">
        <div class="row">
        <div class="col-lg-12">
                <h1 class="page-header" style="color:#1caad9">Objetivos</h1>
        </div></center>
        <ul>
            <li>Desarrollar un sistema de entrenamiento y capacitaciones que permita a los usuarios interactuar con ambientes virtuales, mediante el uso de tecnología emergente, con el objetivo de facilitar el proceso de enseñanza-aprendizaje dentro de las organizaciones.</li>
            <li>Expandir el uso de las tecnologias emergentes para los procesos de aprendizaje aplicados en la tranferencia de conocimientos en las ARL.</li>
            <li>Desarrollar una serie de aplicaciones moviles y web para el uso de Realidad Aumentada, Realidad Virtual y Simulación Inmersiva.</li>
        </ul>   
           <br>

    <img src="images/image.png">

   
    <!-- /.container -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
